<div class="contaner">
    <button class="btn btn-danger" routerLink="/admin/products/add">ADD PRODUCT</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products;index as i">
                <td>{{i+1}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td><img src="{{product.image}}" alt="" width="50"></td>
                <td>
                    <button class="btn btn-primary" (click)="removeItem(product.id)">Delete</button>
                    <button class="btn btn-danger" routerLink="/admin/products/{{product.id}}/update">Update</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>